@model IEnumerable<CNPM_Tour.Models.NhanVien>

@{
    ViewBag.Title = "QLNhanVien";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Quản lý nhân viên";
    ViewBag.qlnv = "active";
}

<body>
    @* table 1*@
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-sm btn-add " type="button" title="Thêm Tour" href="~/Admin/TaoNhanVien">
                <i class="fas fa-plus"> </i> Thêm Nhân viên
            </a>
            <a class="btn btn-sm btn-refresh " type="button" title="In danh sách" href="~/Admin/QLNhanVien">
                <i class="fas fa-solid fa-print"> </i>  Làm mới danh sách
            </a>
            <div class="tile">
                <h2 class="tile-title">Danh sách Nhân Viên</h2>
                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaNV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenNV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChucVu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TrangThai)
                            </th>
                            <th>
                                <span> Chức năng</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.TrangThai == true)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaNV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenNV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrangThai)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chinh Sua", "ChinhSuaNV", new { id = item.MaNV }) |
                                        @Html.ActionLink("ChiTiet", "NhanVienDetails", new { id = item.MaNV }) |
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
                @*<a class="btn btn-cancel" title="Trở lại" href="~/Tourmanager/QuanLyTour">
                          Trở lại
                    </a>*@
            </div>
        </div>
    </div>
</body>
