@model IEnumerable<CNPM_Tour.Models.Partner>
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Trang Chủ";
    ViewBag.home = "active";
}

<body>

    @* table 1*@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">Tour đã thêm gần đây</h2>

                @*<a class="btn btn-sm btn-add " type="button" title="CreateTour" href="/Tourmanager/CreateLoaiTour">
                        <i class="fas fa-plus"> </i> Tạo mới
                    </a>*@
                <table class="table table-hover table-bordered js-copytextarea no-footer" cellpadding="0" cellspacing="0" border="0" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TenDT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaQG)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SDT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Website)
                            </th>
                            <th></th>
                        </tr>
                    </thead>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaQG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Website)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaDT }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MaDT }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaDT })
                            </td>
                        </tr>
                    }
                </table>
                @*<a class="btn btn-cancel" title="Trở lại" href="~/Tourmanager/QuanLyTour">
                        Trở lại
                    </a>*@
            </div>
        </div>

    </div>
    @* table 2 *@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">Đối tác đã thêm gần đây</h2>

                @*<a class="btn btn-sm btn-add " type="button" title="CreateTour" href="/Tourmanager/CreateLoaiTour">
                        <i class="fas fa-plus"> </i> Tạo mới
                    </a>*@
                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr>
                            <th>Mã loại</th>
                            <th>
                                Tên loại
                            </th>
                            <th>
                                Chiết khấu
                            </th>
                            <th>
                                Tùy chọn
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-center">
                        </td>
                        <td class="text-center">
                        </td>
                        <td class="text-center">
                        </td>
                        <td class="text-center">
                            @*<a class="btn btn-cancel" title="Edit" href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-excel" ata-toggle="tooltip" title="Delete" data-target="#" data-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>*@
                        </td>
                    </tr>
                </table>
                @*<a class="btn btn-cancel" title="Trở lại" href="~/Tourmanager/QuanLyTour">
                        Trở lại
                    </a>*@
            </div>
        </div>
    </div>
    @* gg map *@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">
                    <i class="bx bxs-map"></i>
                    Visitors
                </h3>
                <div class="embed-responsive-item" style="height: 310px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15739731.94178454!2d96.86731624837675!3d15.607242742130582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1677896157419!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>

