@model IEnumerable<CNPM_Tour.Models.LoaiKH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiKH1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiKH1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLKH })
        </td>
    </tr>
}

</table>
