@model CNPM_Tour.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiKH.LoaiKH1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKH.LoaiKH1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPoint.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPoint.MaKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
