@model CNPM_Tour.Models.PhieuDC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuDC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDatCho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatCho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaythamquan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaythamquan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YCThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YCThem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacketTour.MaTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacketTour.MaTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan.TenPTTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongThucThanhToan.TenPTTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
