<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <link href="~/Content/CustomerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" />

    <div name="UpperTaskbar">
        <div class="row">
            <div class="col"><button type="button" id="Logo" class="InvisibleButton">Traveloka</button></div>
            <div class="col"><button type="button" class="InvisibleButton">Hợp tác với chúng tôi</button></div>
            <div class="col"><button type="button" class="InvisibleButton">Đã lưu</button></div>
            <div class="col"><button type="button" class="InvisibleButton">Đặt chỗ của tôi</button></div>
            <div class="col"><button type="button" class="InvisibleButton">Đăng nhập</button></div>
            <div class="col"><button type="button" class="InvisibleButton" style="background-color: #3399FF; color: #FFFFFF">Đăng ký</button></div>
        </div>

    </div>
    <div name="Taskbar" class="nav">
        <div class="TaskbarButton">
            <button type="button" style="border: hidden; background-color: #E0E0E0">Vận chuyển</button>
            <button type="button" style="border: hidden; background-color: #E0E0E0">Chỗ ở</button>
            <button type="button" style="border: hidden; background-color: #E0E0E0">Hoạt động và giải trí</button>
            <button type="button" style="border: hidden; background-color: #E0E0E0">Sản phẩm bổ sung</button>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
